textarea::-webkit-scrollbar {
    width: 6px;
}
textarea::-webkit-scrollbar-thumb {
    background-color: #0003;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

html.dark textarea::-webkit-scrollbar-thumb {
    background-color: #FFF3 !important;
}

textarea::-webkit-scrollbar-track {
    border-radius: 10px;
}

.el-textarea__inner {
    height: 100%;
}

textarea {
    resize: none !important;
    overflow: auto;
}
